language: ruby

dist: trusty

matrix:
  include:
    - rvm: 2.1
    - rvm: 2.2
    - rvm: 2.3.3
    - rvm: 2.4.0
    - rvm: ruby-head
    - rvm: jruby-head
      env: "JRUBY_OPTS=--debug"
      before_install:
        - gem install bundler
    - rvm: jruby-9.1.13.0
      env: "JRUBY_OPTS=--debug"

script:
  - rake
